body {
    margin: 0px;
    background-color: #ccd3f7;
}

nav {
    background-color: aeb8eb;
    padding: 0px 20px 0px 0px;
    display: flex;
    justify-content: right;
}

nav a {
    color: green;
    font-family: cursive;
}

nav a:hover {
    background-color: white;
    color: navy;
    font-size: larger;
}

footer {
    background-color: #aeb8eb;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
}

footer a {
    color: green;
    font-family: cursive;
}

footer a:hover {
    background-color: white;
    color: navy;
    font-size: larger;
}

.title {
    background-color: #92a6ec;
    font-family: 'Montserrat', Arial;
    padding: 4px 0px 210px 20px;
    color: #30156a;
    font-size: larger;
    
}

.aboutme a {
    color: #a24f4f;
    text-decoration: none;
}

.aboutme a:hover {
    color: #dca42a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(237, 219, 192);
    font-size: large;
}

hr {
    border-color: #492a8b;
    border-width: 3px;
    width: 80%;
    margin: auto;
    border-top: dotted;
}

.title h1 {
    font-size: 45px;
    margin-left: 35%;
    margin-right: 35%;
}

.title h2 {
    font-size: 45px;
    margin-left: 10%;
    margin-right: 10%;
}

#leo {
    position: absolute;
    right: 10px;
    border-radius: 15px;
}

#ugax {
    position: absolute;
    left: 10px;
    border-radius: 15px;
}

#skill, #language, #leader {
    height: 300px;
    width: 250px;
    border-radius:28px;
    width: 100%;
}

.card {
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(156, 155, 155);
    border-radius:28px;
    display: inline;
    width: 75%;
    box-shadow: 5px 5px 10px #150833;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 9px;
    padding: 10px 18px 10px 100px;
}

.card h3 {
    text-align: center;
    text-decoration: underline;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    text-align: center;
    gap: 5px;
}

dl {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    gap: 3px;
}

dt {
    text-decoration: underline;
}

dd {
    display: inline-block;
    margin: 0 auto;
    padding: 0px 0px 5px 0px;
}

.title h1, .title h2, .aboutme h2, .aboutme p {
    text-align: center;
}

.aboutme {
    font-family: 'Roboto';
    color:#150833;
    font-size: medium;
}

.aboutme p {
    padding: 0px 100px
}

.aboutme > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    border-radius: 15px;
    margin-top: 40px;
}

.one-col {
    display: grid;
    justify-content: center;
    margin-bottom: 22%;
    margin-top: 20px;
    
}

form {
    padding: 12px;
}

input {
    width: 100px;
}

textarea {
    width: 90%;
    height: 80px;
}

label {
    text-align: center;
    font-family: 'Roboto';
}

.contact-title {
    background-color: #92a6ec;
    font-family: 'Montserrat';
    text-align: center;
    padding: 10px 0px;
}